*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    width: 100%;
    background-color: #F9F9F9;
   font-family: Arial, Helvetica, sans-serif;
}
  
.header-topo{
 
  background-color: #FF236C;
 
}
.he-top span{
  color: white;
 }
.he-top{
  
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 2%;
  color: white;
}
#online{
  font-style: oblique;
  font-size: 12px;

  width: 50%;
}

#header-redes img{
  background-color: #31538F;
  padding: 20%;
 transform: translateX(-20px);
 border-radius: 5px;
 margin-top: 10%;
}
#horario-topo{
 
  
}


  
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}

nav {
  position: fixed;
  width: 100%;
  background: linear-gradient(135deg,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.545));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  z-index: 11;
  height: 8vh;
}
  
  
  
  .nav-list {
    list-style: none;
    display: flex;
   
  }

  .nav-list a {
    list-style: none;
    display: flex;
    color: white;
  }



  
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
    
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
    
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
        
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    z-index: 1;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-200%);
    transition: transform 0.20s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  
 
  
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
.banner-t{
    
    display: flex;
   justify-content: center;
   
  
    
    
   
    
}
.carrossel{
    overflow: hidden;
    
  /*  filter: drop-shadow(0px 0px 10px #000);*/
  
 
    
    
}
.container{
    
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
    width: 1250px;
    margin-top: 8.2%;
}

.nav-produtos{
    margin-top: 10%;
     display: flex;
     height: 10vh;
     align-items: center;
     width: 100%;
    
 }
 
 .produ-left{
     display: flex;
     
     width: 30%;
 }
 .produ-left h2{
     margin-left: 8%;
 }
 
.produ{
    
     width: 40%;
     display: none;
     list-style: none;
     gap: 25px;
     justify-content: center;
     margin: 0 auto;
   
 }
 li a{
     text-decoration: none;
     color: black;
 }

 #produ-left a{
    color: black;
    font-weight: bold;
 }
 #produ-leftt{
    background-image: url(../banner/subli.png);
    background-repeat: no-repeat;
    background-size: cover;

 }
 #produ-leftt a{
    color: black;
    font-weight: bold;
 }
 #btn{
    margin-top: 50%;
    width: 100%;
    height: 5vh;
    background-color: white;
    
 }
 .produ-right{
     display: none;
     align-items: center;
     width: 30%;
     height: 10vh;
     
 }
 .produ-right a{
     border: 1px solid rgba(128, 128, 128, 0.246);
     padding: 7%;
     color: black;
     margin-left: 35%;
     text-decoration: none;
 }
 
 
 main{
 
  width: 100%;
  height: 360vh;
  display: flex;
}
.main{
 
  margin: 0 auto;
  width: 80%;
}
aside{
  background-color:#E8E7E7 ;
  border: solid #3c3c3c03;
  width: 18%;
  margin-left: 2%;

 height: 350vh;

  
}
 .aside{
    margin-top: 15%;
    margin-left: 5%;
   
 }
 aside ul{
    list-style: none;
    
  
 }
 aside li{
padding: 6%;

}
aside a{
    color: #111A29;
   text-decoration: none;
   
}
 .main-produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
   
    font-family: "Arial";
    gap:16px;
    margin-top: 2%;
    
}
.produ-bar{
  
  display: none;
}
  .card {
    background-color: #fff;
    
    width: 180px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
  }
  .card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
  }
  .card h1 {
    font-size: 1.2rem;
  }
  .card h2 {
    font-size: .9rem;
    color: #aaaa;
  }
  .card button {
    background-color: #2192FF;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
  }
  .card button:hover {
    background-color: #137de8;
    cursor: pointer;
  }
  
  button a {
    text-decoration: none;
    color: white;
  }
  
  span{
    color: rgb(151, 23, 23);
  }


footer{
   
    height: 60vh;
    
    
    justify-content: center;
}
.footer{
    
    margin-left: 5%;
   
    height: 45vh;
    width: 90%;
    display: flex;
    gap: 70px;
}
.footer ul{
    list-style: none;
   
    width: 35%;
}
.footer li{
    margin-top: 15%;
}
#formas{
margin-top: -15%;
}

.footer h3{
    font-weight: bolder;
}
#footer{
    padding-block: 1%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

#footer-inf {
   
    font-size: 15px;
    margin-top: 2%;
    text-align: justify;
}

.entrega{
    display: inline-block;
   
}
.seguro{
  
    transform: translateY(20px);  
}
#footers{
    display: flex;
    font-size: 14px;
}

#footer-inf-p{
    margin-top: 4%;
}

.footer-fim{
  background-color: #B6B6B6;
  color: white;
  font-size: 12px;
  text-align: center;
  padding-block: 2%;
}