*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
  
    background-color: #F9F9F9;
   font-family: Arial, Helvetica, sans-serif;
    
}
.header-topo{
 
  background-color: #FF236C;
 
}
.he-top{
  
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 2%;
  color: white;
}
#online{
  font-style: oblique;
  font-size: 12px;

  width: 50%;
}

#header-redes img{
  background-color: #31538F;
  padding: 20%;
 transform: translateX(-20px);
 border-radius: 5px;
 margin-top: 10%;
}
#horario-topo{
 
  
}


  
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}

nav {
  position: fixed;
  width: 100%;
  background: linear-gradient(135deg,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.545));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  z-index: 11;
  height: 8vh;
}
  
  
  
  .nav-list {
    list-style: none;
    display: flex;
   
  }

  .nav-list a {
    list-style: none;
    display: flex;
    color: white;
  }



.nav-list {
  list-style: none;
  display: flex;
  
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 640px) {
  body, html {
    
    
  }
  .nav-list {
    
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 84vh;
    z-index: 1;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-200%);
    transition: transform 0.20s ease-in;
   
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
    
  }
}

.nav-list.active {
  transform: translateX(0);
 
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
  
.banner-t{
    
    display: flex;
   justify-content: center;
   
  
    
    
   
    
}
.carrossel{
    overflow: hidden;
    
  /*  filter: drop-shadow(0px 0px 10px #000);*/
  
 
    
    
}
.container{
    
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
    width: 1250px;
    margin-top: 8.2%;
}

.quality{
    
    margin-top: 5%;
    height:15vh;
    width: 100%;
    display: flex;
   
 
}
#q1{
    display: flex;
    margin: 0 auto;

    width: 20%;
    
    font-weight: bold;
}
#q1 img{
    width: 100%;
    

}
.opcoes{
    
    width: 100%;
    margin-top: 7%;
    height: 30vh;
    
}

.escolha{

height: 30vh;
width: 90%;
display: flex;
margin: 0 auto;
gap: 20px;
}
.grafica{
    background-image: url(../banner/est.png);
    width: 60%;
    height: 40vh;
    background-repeat: no-repeat;
}
 button{
    width: 20%;
    height: 5vh;
    border-radius: 50px;
    margin-left: 10%;
    margin-top: 30%;
    background-color: white;
    
}
 button a{
   text-decoration: none;
   color: #374957;
   font-size: 17px;
    
}
.estamparia{
    background-image: url(../banner/subli.png);
    background-repeat: no-repeat;
    width: 40%;
    height: 40vh;
    
}
.button{
    width: 30%;
    height: 5vh;
    border-radius: 50px;
    margin-top: 45%;
    
    position:relative;
    background-color: white;
    
}
 .button a{
   text-decoration: none;
   color: #374957;
   font-size: 17px;
    
}

.destaques{
   
    margin-top: 10%;
    height: 20vh;
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.destaque-dentro{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 20px;
    
    
}
#dest{
    display: flex;
    justify-content: center;
    width: 100%;
    
   
}
.dest-txt h1, a{
font-size: 16px;
text-align: center;
text-decoration: none;
color: black;
}


main{
    
   
    height: 300vh;
}


iframe{
   
    width: 100%;
    height: 100vh;
}
.produ-right{
    display: flex;
    align-items: center;
    width: 30%;
    height: 10vh;
    
}
.produ-right a{
    
    padding: 7%;
    color: black;
    display: flex;
    transform: translateX(550%);
    margin-top: 43%;
    text-decoration: none;
    
}
.banner-melhor{
   margin-top: 5%;
    width: 100%;
    height: 65vh;
    background-image: url(../banner/qualidade.png);
    background-repeat: no-repeat;
}
.experiencia{
    background-image: url(../imagem/clien.png);
    width: 100%;
   
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.parceiros{
    width: 100%;
    height: 30vh;
   
    text-align: center;
    margin-top: 10%;
}
.parceiros img{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 2%;
    height: 25vh;
  
    
}

.parceiros p{
    margin-top: 2%;
}







footer{
   margin-top: 5%;
    height: 60vh;
    background-color: #F5F5F5 ;
    
    justify-content: center;
}
.footer{
    
    margin-left: 5%;
   
    height: 45vh;
    width: 90%;
    display: flex;
    gap: 70px;
}
.footer ul{
    list-style: none;
   
    width: 35%;
}
.footer li{
    margin-top: 15%;
}
#formas{
margin-top: -15%;
}

.footer h3{
    font-weight: bolder;
}
#footer{
    padding-block: 1%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

#footer-inf {
   
    font-size: 15px;
    margin-top: 2%;
    text-align: justify;
}

.entrega{
    display: inline-block;
   
}
.seguro{
  
    transform: translateY(20px);  
}
#footers{
    display: flex;
    font-size: 14px;
}

#footer-inf-p{
    margin-top: 4%;
}

.footer-fim{
    background-color: #B6B6B6;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-block: 2%;
}