*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
  
    background-color: #F9F9F9;
   font-family: Arial, Helvetica, sans-serif;
    
}
.header-topo{
 
  background-color: #3996D2;
 
}
.he-top{
  
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 2%;
  color: white;
}
#online{
  font-style: oblique;
  font-size: 12px;

  width: 50%;
}

#header-redes img{
  background-color: #31538F;
  padding: 20%;
 transform: translateX(-20px);
 border-radius: 5px;
 margin-top: 10%;
}
#horario-topo{
 
  
}


  
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}

nav {
  position: fixed;
  width: 100%;
  background: linear-gradient(135deg,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.545));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  z-index: 11;
  height: 8vh;
}
  
  
  
  .nav-list {
    list-style: none;
    display: flex;
   
  }

  .nav-list a {
    list-style: none;
    display: flex;
    color: white;
  }



.nav-list {
  list-style: none;
  display: flex;
  
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 640px) {
  body, html {
    
    
  }
  .nav-list {
    
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 84vh;
    z-index: 1;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-200%);
    transition: transform 0.20s ease-in;
   
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
    
  }
}

.nav-list.active {
  transform: translateX(0);
 
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.sub-nav{
  display: flex;
 margin-top: 4.5%;
 
  height: 13vh;
  align-items: center;
  justify-content: right;

  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}
.sub-nav ul{
list-style: none;
margin-right: 12%;
}
.sub-nav a{
 margin-left: 25px;
 color: #696969;
 text-decoration: underline;
}

  
.banner-t{
    
    display: flex;
   justify-content: center;
   
  
    
    
   
    
}
.carrossel{
    overflow: hidden;
    
  /*  filter: drop-shadow(0px 0px 10px #000);*/
  
 
    
    
}
.container{
    
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
    
    width: 1250px;

}


.quality{
    
    margin-top: 5%;
    height:15vh;
    width: 100%;
    display: flex;
   justify-content: center;
   
 
}
#q1{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 40%;
    border-right: solid;
    height: 10vh;
    font-weight: bold;
}
#q2{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 40%;
 
  font-weight: bold;
}
#q1 img{
    width: 70%;
    height: 13vh;
   

}
#q2 img{
  width: 70%;
  height: 13vh;
 

}


.cho-se{
 text-align: center;
  align-items: center;
  justify-content: center;
height: 20vh;
margin-top: 10%;
 
}
.cho-se h1{
  margin-bottom: 1%;


  color: #19202a;
 }
.cho-se p{
  
  color: #696969;
 }
 

.opcoes{
    
    width: 100%;
    margin-top: 7%;
    height: 30vh;
    
}

.escolha{

height: 30vh;
width: 90%;
display: flex;
margin: 0 auto;
gap: 20px;
}
.grafica{
    background-image: url(../banner/est.png);
    width: 38%;
    height: 26vh;
    background-repeat: no-repeat;
   
}
 button{
    width: 20%;
    height: 5vh;
    border-radius: 50px;
    margin-left: 10%;
    margin-top: 40%;
    background-color: white;
    
}
 button a{
   text-decoration: none;
   color: #374957;
   font-size: 17px;
    
}
.estamparia{
    background-image: url(../banner/subli.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 72%;
    height: 54vh;
   
}
.button{
    width: 30%;
    height: 5vh;
    border-radius: 50px;
    margin-top: 30%;
    
    position:relative;
    background-color: white;
    
}
 .button a{
   text-decoration: none;
   color: #374957;
   font-size: 17px;
    
}

.serigrafia{
  
  background-image: url(../imagem/serigr.png);
    width: 30.7%;
    height: 26vh;
    margin-left: 64.5%;
    margin-top: -14px;
    background-repeat: no-repeat;
    background-size: cover;
}


.destaques{
   
    margin-top: 10%;
    height: 20vh;
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.destaque-dentro{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 20px;
    
    
}
#dest{
    display: flex;
    justify-content: center;
    width: 100%;
    
   
}
.dest-txt h1, a{
font-size: 16px;
text-align: center;
text-decoration: none;
color: black;
}


main{
    margin-top: 25%;
 
    height: 300vh;
}


iframe{
   
    width: 100%;
    height: 120vh;
}


.produ-right{
    display: flex;
    align-items: center;
    width: 30%;
    height: 10vh;
    
}
.produ-right a{
    
    padding: 7%;
    color: black;
    display: flex;
    transform: translateX(550%);
    margin-top: 43%;
    text-decoration: none;
    
}
.outros-servico{

  margin-top: 2%;
  height: 70vh;
  background-image: url(../imagem/Sem\ Título-1.png);
  text-align: center;
}
.servicos{
  border: solid red;
  height: 50vh;
}
.servicos-titulo{
  text-align: center;
  color: #19202a;
}
.banner-pix{
  width: 100%;
 
  display: flex;
  justify-content: center;
}
.pix{
  background-image: url(../imagem/pix.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 83%;
    height: 28vh;
    display: flex;
    justify-content: center;
}
.banner-melhor{
   margin-top: 5%;
    width: 100%;
    height: 65vh;
    background-image: url(../banner/qualidade.png);
    background-repeat: no-repeat;
}
.experiencia{
    background-image: url(../imagem/clien.png);
    width: 100%;
   
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 100%;
}


 
  
  .opinioes-clientes{
    border: solid white;
    height: 61.5vh;
    background-color: white;
  }

  .clien{
    text-align: center;
     align-items: center;
     justify-content: center;
     
    
   }
   .clien h3{
 margin-top: 3%;
     color: #959595;
     height: 5vh;
   
     
    }

    .quadro{
     
      height: 45.5vh;
     display: flex;
     justify-content: center;
    }
    .quadro-clientes{
      background-color: #fff;
    
   
    width: 250px;
    height: 330px;
    
    box-shadow: 4px 4px 12px #aaaa;
      width: 66%;
      height: 45.5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
    #quadro{
     border: 0.1px solid #3995d280;
     height: 43vh;
      width: 30%;
    display: flex;
    justify-content: center;
    
    }
    .quadro-circle{
      border: 3px  solid #aaaaaa2f;
      box-shadow: 2px 2px 12px #aaaaaa48;
      margin-top: 5%;
     height: 13vh;
      width: 40%;
      border-radius: 50%;
      display: block;
      background-color: #3996d2;
    
    }

    .quadro-circle p{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 12vh;
      font-size: x-large;
      color: white;
      font-weight: bolder;
    }
    .pai{
      position: absolute;
     
      width: 20%;
      transform: translateY(120px);
      height: 26vh;
     text-align: justify;
     color: #3996D2;
     
    }
    .nome{
    
     height: 5vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .frase{
      font-size: small;
      height: 17vh;
      display: flex;
      align-items: center;
     margin-left: 5%;
      width: 90%;
      border-top: 0.1px solid #aaaa ;

    }
    .estrela{
      border-top: 0.1px solid #aaaa ;
      width: 70%;
      height: 4vh;
      display: flex;
      margin-left: 15%;
      align-items: center;
      justify-content: center;
    }


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
 
  height: 80px;
  
  margin: 0 40px;
}




.wh{
  display: flex;
  justify-content: center;
 width: 100%;
  text-align: center;
}
.zapzap{
background-color: #23232e;
border-radius: 5px 5px 5px ;
width: 20%;
height: 5vh;
color: white;
display: flex;
justify-content: center;
align-items: center;

}

.zapzap:hover{
  background-color: darkgreen;

}

.atenden{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
.atendimento-horas{
text-align: center;
margin-top: 2%;
}

.atendimento-horas p{
  margin-bottom: 2%;
}
.atendimento-horas li{
  color: #868686;
}




footer{
   margin-top: 5%;
    height: 60vh;
    background-color: #F5F5F5 ;
    
    justify-content: center;
}
.footer{
    
    margin-left: 5%;
   
    height: 45vh;
    width: 90%;
    display: flex;
    gap: 70px;
}
.footer ul{
    list-style: none;
   
    width: 35%;
}
.footer li{
    margin-top: 15%;
}
#formas{
margin-top: -15%;
}

.footer h3{
  color: #19202a;
    font-weight: bolder;
    font-size: 13px;
}
#footer{
    padding-block: 1%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #696969;
    font-size: 12px;
}

#footer-inf {
  color: #696969;
    font-size: 12px;
    margin-top: 2%;
    text-align: justify;
}

.entrega{
    display: inline-block;
   
}
.seguro{
    
    transform: translateY(20px);  
}
.seguro h3{
  font-size: 13px;
    
}
#footers{
  
    display: flex;
    font-size: 12px;
}

#footer-inf-p{
    margin-top: 4%;
}

.footer-fim{
    background-color: #B6B6B6;
    color: white;
    font-size: 10px;
    text-align: center;
    padding-block: 2%;
}