*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    width: 100%;
    background-color: #F9F9F9;
   font-family: Arial, Helvetica, sans-serif;
}
  
.header-topo{
 
    background-color: #FF236C;
   
  }
  .he-top{
    
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 2%;
    color: white;
  }
  #online{
    font-style: oblique;
    font-size: 12px;
  
    width: 50%;
  }
  
  #header-redes img{
    background-color: #31538F;
    padding: 20%;
   transform: translateX(-20px);
   border-radius: 5px;
   margin-top: 10%;
  }
  #horario-topo{
   
    
  }
  
  
    
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
  }
  
  nav {
    position: fixed;
    width: 100%;
    background: linear-gradient(135deg,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.545));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    z-index: 11;
    height: 8vh;
  }
    
    
    
    .nav-list {
      list-style: none;
      display: flex;
     
    }
  
    .nav-list a {
      list-style: none;
      display: flex;
      color: white;
    }
  

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
  
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 640px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    z-index: 1;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-200%);
    transition: transform 0.20s ease-in;;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
  
.banner-t{
    
    display: flex;
   justify-content: center;
   
  
    
    
   
    
}


/*---------------------------------------------MAIN*/



.banner{
   
    width: 100%;
    height: 54vh;

}
.banner img{
    width: 100%;
}
main{
    width: 93%;
    margin: auto;
    display: flex;
    margin-top: 5%;
}    

.main-principal{
   
    width: 81.5%;
    height: 220vh;
    
    
   
}
.main-topo{
    width: 90%;
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
    
    
}
.topo{
    width: 50%;
    
    display: flex;
    margin-left: 20px;
    
}

.topo-right{
    width: 50%;
    
    display: flex;
    margin-left: 13%;
    
}

.topo-mundo{
    width: 100%;
    
    
    
    
}
.main-noticias{
    display: flex;
    height: 80vh;
    
    
}

.nt{
    width: 50%;
    text-decoration: none;
    
}
.nt h1{
    margin-left: 20px;
    font-size: 1.5em;
    color: rgb(104, 3, 3);
}
.nt p{
  color: black;
   width: 93%;
    margin: 2%;
    margin-left: 18px;
    text-align: justify;
}

.nt-span{
    font-size: 14px;
    color: gray;
    margin-left: 70px;
}
.ntt-span{
    font-size: 14px;
    color: gray;
    margin-left: 50%;
}
.img-noticias{
   
    display: flex;
    justify-content: center;
}

.sessao-principal{
    width: 100%;
    
    display: flex;
}
.se{
  
   
    text-decoration: none;
    display: flex;
    margin-block: 1%;
    

}
#se-top{
    font-size: 1.6em;
    display: block;
}
.se h1{
    color: black;
    font-size: 16px;
    margin: 2%;
    
}




.main-left{
    margin-left:1.7%;
    height: 180vh;
    width: 16.8%;
    
}    

.post{
    height: 5vh;
    background-color: #3E3E3E;
}    

.post p{
    color: white;
    padding-top: 4.5%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}    


.post-list{
   
    height: 60vh;
    background-color: white;
}    

.recente{
    height: 4vh;
    text-align: center;
    background-color: #cfcfcf;

}     
   

.recente p{
    padding-top: 2%;
    color: #3E3E3E;
}
    

.list{
    height: 50vh;
    
}    

.list a{
    text-decoration: none;
    color: #000000;
    margin-top: 5%;
    padding-top: 20px;
    margin-left: 10%;
    display: block;
    
}
.list a:hover{
    color: #4A75C5;
}

.saiba{
    
    height: 80vh;
    padding-top: 20%;
    
}    

.leia{
    color: #4A75C5;
    font-size: 20px;
    margin-left: 3px;
    

}    

.mais{
    margin-top: 10px;
    font-size: 19px;
    padding: 10px;
    
    text-align: justify;
}
.mais a{
    color: #4A75C5;
}    


.card-anuncio{
   
    height: 54vh;
    
}    

.card-anuncio a{
    text-decoration: none;
    text-align: center;
    
}    

.anuncio{
    background-color: #F8B64C;
    height: 10vh;
    margin-bottom: 40%;
}   

.anuncio a{
    color: #3E3E3E;
    position: absolute;
    padding: 11px 33px;
    font-weight: bold;
    font-size: 20px;
    
}
.anuncio1{
    background-color: #A14196;
    margin-top: 5%;
    height: 10vh;
}    

.anuncio1 a{
    color: white;
    position: absolute;
    padding: 25px 27px;
    
    font-weight: bold;
}
.anuncio2{
    background-color: #4A75C5;
    margin-top: 5%;
    height: 10vh;
}    

.anuncio2 a{
    color: white;
    position: absolute;
    
    
    font-weight: bold;
    
    padding: 18px 6px;
}    
    
   

.anuncio2 p{
    font-weight: normal;
    font-size: 12px;
}
.anuncio3{
    margin-top: 5%;
    background-color: #403E36;
    height: 10vh;
    
}
.anuncio3 a{
   
    color: #FFC33E;
    position: absolute;
    padding: 17px 22px;
    font-weight: bold;
}    

   

.anuncio3 p{
    font-weight: normal;
    font-size: small;
    color: #FFC33E;
   
}
.anuncio4{
    margin-top: 5%;
    height: 29vh;
    
}   
#whats-img{
    
    
    width: 100%;
    
}





.parceiros{
    width: 100%;
    height: 50vh;
  
    text-align: center;
    margin-top: 10%;
}
.parceiros img{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 25vh;
  
    
}

/*---------------------------------------------FOOTER*/

footer{
   
    height: 60vh;
    
    
    justify-content: center;
}
.footer{
    
    margin-left: 5%;
   
    height: 45vh;
    width: 90%;
    display: flex;
    gap: 70px;
}
.footer ul{
    list-style: none;
   
    width: 35%;
}
.footer li{
    margin-top: 15%;
}
#formas{
margin-top: -15%;
}

.footer h3{
    font-weight: bolder;
}
#footer{
    padding-block: 1%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

#footer-inf {
   
    font-size: 15px;
    margin-top: 2%;
    text-align: justify;
}

.entrega{
    display: inline-block;
   
}
.seguro{
  
    transform: translateY(20px);  
}
#footers{
    display: flex;
    font-size: 14px;
}

#footer-inf-p{
    margin-top: 4%;
}

.footer-fim{
    background-color: #B6B6B6;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-block: 2%;
}




