
@media (max-width: 750px){
    
    *{
        padding: 0;
        margin: 0px;
        box-sizing: border-box;
    }

    body, html{
        width: 100%;
        background-color: #F9F9F9;
    
    }

    /*---------------------------------------------HEADER*/
    a {
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
      }

        
    .banner-t{
        display: none;
    }
    .carrossel{
        display: none;
    }
    .container img{
        display: none;
    }

.apresentacao{
    display: block;
    width: 100%;
    height: 65vh;
    padding-top: 18%;
    
    text-align: center;
    
}

.apresen-foto{
   overflow-x: hidden;
  
    width: 100%;
    display: flex;
    justify-content: center;
}
.apresen-foto{

}

.apresentacao h1{
    margin-top: 8%;

    
}
.apresentacao p{
    margin-top: 1%;
    
}
.apresentacao-produtos{
    text-align: center;
           
    margin-top: 5%;
    
   
}
.apresentacao-produtos a{
    text-align: center;
    color: #333333;
   padding:2%;
  
    
   
}
.apresentacao-produtos2 {
   
    
    margin-top: 2%;
    padding-block: 2%;
 }
.apresentacao-produtos2 a{
    color: #333333;
  padding-inline: 2%;
  


}
.introducao, .intro{
    display: none;
}
.intr img{
    display: none;
}
/*---------------------------------------------ASIDE*/
aside{
    height: 210vh;
    width: 18.7%;
   display: none;
    text-align: center;
    
}     
   

.aside-interno{
    
    text-align: center;
    height: 5vh;
    background-color: #3E3E3E;
    color: white;
}    

.aside-interno p{
    position: absolute;
    margin-top: 9px;
    font-weight: bolder;
    margin-left: 15px;
}    

.aside-internotop{
    padding-top: 40%;
    height: 85vh;
    
    background-color: white;
}
.aside-internotop a{
    padding-top: 8.5%;
    padding-bottom: 8.5%;
    text-decoration: none;
    color: #6E6E73 ;
    display: block;
}
.aside-internotop a:hover{
    color: black;
    background-color: #4A75C5;
    padding-top: 8.5%;
    padding-bottom: 8.5%;

   text-align: center;
}

.aside-internobottom{
    margin-top: 5%;
    
    height: 103vh;
    
    background-color: white;
}

.aside-internobottom a{
    margin-top: 2%;
    padding-top: 8.5%;
    padding-bottom: 8.5%;
    
    text-decoration: none;
    color: #6E6E73 ;
    display: block;
    
}
.aside-internobottom a:hover{
    color: black;
    background-color: #4A75C5;
    padding-top: 8.5%;
    padding-bottom: 8.5%;

   text-align: center;
   
}
/*---------------------------------------------MAIN*/

main{
    width: 93%;
    margin: auto;
    display: flex;
    
}    



.main-principal{
    
  
    height: 80vh;
    margin-left: 1%;
    
   
}
.conteiner{
    margin-top: 1%;
  
   
    
}
.em-destaque{
    font-weight: bolder;
    display: none;
    font-size: 1.3em;
}
.em-destaque p{
    color: #3E3E3E;
    padding-left: 10%;
}
.linha{
    width: 95%;
    margin: auto;
    
    border: solid #86868617;
}
#destaq{
    color: #757575;
}

.cardprinc-top{
    height: 30vh;
    width: 100%;
    height: 40vh;
    display: flex;
    
}
.card{
    
    width: 100%;
    border-radius: 32px;
    height: 10vh;
   
    margin: 1%;
    
    
}
.card p{
    text-align: center;
    font-size: 11px;
}
.card-int{
    
    width: 100%;
    height: 15vh;
    border-radius: 32px 32px 0px 0px;
    text-align: center;
    margin: auto;
   
    
}
.card-int img{
    
    width: 100%;
    height: 12vh;
    border-radius: 32px 32px 0px 0px;
    text-align: center;
    margin: auto;
}




#preco{
    color: #4A75C5;
}

#txt{
    font-weight: bold;
}





.main-left{
    margin-left: 1%;
    height: 180vh;
    width: 17%;
    
}    

.post{
    height: 5vh;
    background-color: #3E3E3E;
}    

.post p{
    color: white;
    padding-top: 4.5%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}    


.post-list{
   
    height: 60vh;
    background-color: white;
}    

.recente{
    height: 4vh;
    text-align: center;
    background-color: #cfcfcf;

}     
   

.recente p{
    padding-top: 2%;
    color: #3E3E3E;
}
    

.list{
    height: 50vh;
    
}    

.list a{
    text-decoration: none;
    color: #000000;
    margin-top: 5%;
    padding-top: 20px;
    margin-left: 10%;
    display: block;
    
}
.list a:hover{
    color: #4A75C5;
}

.saiba{
    
    height: 80vh;
    padding-top: 20%;
    
}    

.leia{
    color: #4A75C5;
    font-size: 20px;
    margin-left: 3px;
    

}    

.mais{
    margin-top: 10px;
    font-size: 19px;
    padding: 10px;
    
    text-align: justify;
}
.mais a{
    color: #4A75C5;
}    


.card-anuncio{
   
    height: 54vh;
    
}    

.card-anuncio a{
    text-decoration: none;
    text-align: center;
    
}    

.anuncio{
    background-color: #F8B64C;
    height: 10vh;
    margin-bottom: 40%;
}   

.anuncio a{
    color: #3E3E3E;
    position: absolute;
    padding: 11px 33px;
    font-weight: bold;
    font-size: 20px;
    
}
.anuncio1{
    background-color: #A14196;
    margin-top: 5%;
    height: 10vh;
}    

.anuncio1 a{
    color: white;
    position: absolute;
    padding: 25px 27px;
    
    font-weight: bold;
}
.anuncio2{
    background-color: #4A75C5;
    margin-top: 5%;
    height: 10vh;
}    

.anuncio2 a{
    color: white;
    position: absolute;
    
    
    font-weight: bold;
    
    padding: 18px 6px;
}    
    
   

.anuncio2 p{
    font-weight: normal;
    font-size: 12px;
}
.anuncio3{
    margin-top: 5%;
    background-color: #403E36;
    height: 10vh;
    
}
.anuncio3 a{
   
    color: #FFC33E;
    position: absolute;
    padding: 17px 22px;
    font-weight: bold;
}    

   

.anuncio3 p{
    font-weight: normal;
    font-size: small;
    color: #FFC33E;
   
}
.anuncio4{
    margin-top: 5%;
    height: 29vh;
    
}   
#whats-img{
    
    
    width: 100%;
    
}







/*---------------------------------------------ARTICLE*/

 article{
    width: 100%;
    margin: auto;
    height: 25vh;
 
}   


.artigos{
    
    margin: auto;
    height: 30vh;
  
    
}    

 

.clientes{
   
    
    text-align: center;
   
}    

.clientes p{
    font-size: 1.2em;
    height: 10vh;
    color: #3E3E3E;
}
.clientes img{
    width: 100%;
}



/*---------------------------------------------FOOTER*/

footer{
        
    height: 21vh;
    
    
}

.bill{
    color: #868686;
    font-size: 12px;
    padding: 8%;
    text-align: center;
    height: 10vh;
    
}

.footer-rodape{
    
   
    background-color: #F5F5F5;
    height: 10.5vh;
    

    
}
.footer-interno{
    display: none;
    background-color: #F5F5F5;
    width: 95%;
    margin: auto;
    
    height: 2vh;
    display: flex;
     
}

.interno{
    display: none;
    margin-top: 50px;
  
width: 100%;

    color: #4A75C5;
}
.interno ul{
    list-style-type: none;

    text-align: center;
    
}
.interno p{
    
    text-align: center;
    margin-top: 20px;
    color: #696969;
    margin-left: 2%;
    font-size: 15px;
    
}
#s-mais p{
margin-left: 30%;

}
#s-mais img{
    
    transform: translateX(80px);
}
.foot-icon{
    display: flex;
    
    
}
.foot-icon img{
    width:11%;
    
    margin-top: 13px;
    
    
}
.redes{
    
    height: 10vh;
    
}
.redes img{
    
    margin-top: 8%;
    
}

#prazo{
    font-size: 15px;
}

.cartoes{
    display: none;
    
    margin: auto;
    height: 17vh;
    color: #333333;
    
    text-align: center;
    background-color: #F5F5F5;
    
}   
.cart-txt{
    width: 40%;
    height: 17vh;
position: relative;

    
    font-weight: bolder;
    font-size: 8px;
    
}
.cart-txt p{
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
}



.entrega-img img{
    margin-top: -7%;
    width: 100%;
    


}
.foot-fim{
    background-color: #E8E7E7;
   
    
    text-align: center;
    color: #696969;
    font-size: 15px;
}
#fim{
    color: #696969;
    font-size: 11px;
}  


    
.whats{
    display: none;
    transform: translateX(20px);
    bottom: 5px;
    right: 6px;
    
}

}





