
@media (max-width: 750px){
    
  *{
      padding: 0;
      margin: 0px;
      box-sizing: border-box;
  }

  body, html{
      width: 100%;
      background-color: #F9F9F9;
  
  }

  /*---------------------------------------------HEADER*/
  a {
      color: #fff;
      text-decoration: none;
      transition: 0.3s;
    }
    

              
          .banner-t img{
             display: none;
          }

         
        /*---------------------------------------------MAIN*/

            main{
               
                height: 126vh;
            }
            .banner{
                width: 100%;
                height:108vh;
                font-size: 12px;
               
            }

            .banner-contatos{
              
               width: 100%;
                height: 22vh;
               margin-top: -1%;
            }
            .banner-cont{
                height: 20vh;
                width: 100%;
                display: flex;
                align-items: center;
                
            }
            #contat{
                
                width: 100%;
                height: 10vh;
                font-size: 8px;
            }

           
footer{
   
    
 
    height: 1vh;
    justify-content: center;
}
.footer{
    height: 1vh;
   

    width: 90%;
    display: flex;
    
}
.footer ul{
    list-style: none;
   display: none;
    width: 35%;
    
}
.footer li{
    display: none;
    margin-top: 15%;
}
#formas{
    display: none;
margin-top: -15%;
}

.footer h3{
    display: none;
    font-weight: bolder;
}
#footer{
    display: none;
    padding-block: 1%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

#footer-inf {
    display: none;
    font-size: 15px;
    margin-top: 2%;
    text-align: justify;
}

.entrega{
    display: inline-block;
    display: none;
}
.seguro{
    display: none;
    transform: translateY(20px);  
}
#footers{
    display: none;
    display: flex;
    font-size: 14px;
}

#footer-inf-p{
    display: none;
    margin-top: 4%;
}

.footer-fim{
    background-color: #E8E7E7;
    font-size: 12px;
    text-align: center;
    padding-block: 6%;
    
}


}
