
@media (max-width: 750px){
    
    *{
        padding: 0;
        margin: 0px;
        box-sizing: border-box;
    }

    body, html{
        width: 100%;
        background-color: #F9F9F9;
    
    }

    /*---------------------------------------------HEADER*/
    a {
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
      }
      
      a:hover {
        opacity: 0.7;
      }
      
      .logo {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 4px;
      }
      
      nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
        background: #23232e;
        height: 8vh;
      }
      
      
      
      .nav-list {
        list-style: none;
        display: flex;
      }
      
      .nav-list li {
        letter-spacing: 3px;
        margin-left: 32px;
      }
      
      .mobile-menu {
        display: none;
        cursor: pointer;
      }
      
      .mobile-menu div {
        width: 32px;
        height: 2px;
        background: #fff;
        margin: 8px;
        transition: 0.3s;
      }
      
      @media (max-width: 999px) {
        body {
          overflow-x: hidden;
        }
        .nav-list {
          position: absolute;
          top: 8vh;
          right: 0;
          width: 50vw;
          height: 92vh;
          background: #23232e;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          transform: translateX(100%);
          transition: transform 0.3s ease-in;
        }
        .nav-list li {
          margin-left: 0;
          opacity: 0;
        }
        .mobile-menu {
          display: block;
        }
      
        
      
      }
      
      .nav-list.active {
        transform: translateX(0);
      }
      
      @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
      }
      
      .mobile-menu.active .line2 {
        opacity: 0;
      }
      
      .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
      }
                
            .banner-t img{
               display: none;
            }
  
           
       
        /*---------------------------------------------MAIN*/

       
   

        main{
            width: 93%;
            margin: auto;
            display: flex;
            margin-top: 30%;
           height: 450vh;
           
        }    
        
        .main-principal{
            
            width: 100%;
            height: 330vh;
           
            display: block;
        }
        .main-topo{
            width: 100%;
            
           
            justify-content: center;
            align-items: center;
            
           
        }
        
        .paragrafo{
            font-size: 13px;
           
        }
        .ph h1{
       
            font-size: 25px;
        }
        .direcoes{
            
            margin-top: 10%;
        }
        
        
        
        
        .topo-mundo{
            width: 100%;
           font-size: 1.7em;
          
           
            
        }
        .main-noticias{
            display: block;
            height: 290vh;
            
           
           
           
            
        }
        
        .nt{
            width: 50%;
            text-decoration: none;
            
            
        }
        .nt h1{
            
            font-size: 1.5em;
            color: rgb(104, 3, 3);
            margin: 0 auto;
            margin-top: 20%;
            margin-bottom: 5%;
        }
        .nt p{
          color: black;
           width: 90%;
           height: 15vh;
            
            
            margin: auto;
            text-align: justify;
            font-size: 20px;
            
        }
        
        
        
        .nt-span{
            font-size: 14px;
            color: gray;
            margin-left: 50px;
           
        }
        .ntt-span{
            font-size: 14px;
            color: gray;
            margin-left: 10%;
            
        }
        .img-noticias{
           
           
            height: 50;
            justify-content: center;
        }
        
        .img-noticias img{
           margin-bottom: 2%;
            width: 70%;
        }
        
        .main-topo2{
            width: 100%;
            font-size: 2em;
            display: flex;
            margin-left: 20px;
            margin-top: 15%;
        }
        
        .sessao-principal{
            text-decoration: none;
            display: block;
          
           
            
        }
        
        #se-top{
            font-size: 1.6em;
        }
        
        .sessao a {
            text-decoration: none;
        }
        
        .se h1{
            width: 50%;
            font-size: 15px;
            margin-left: 2%;
            color: black;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            
        }
        
        
        .main-left{
            display: none;
            margin-left:1.7%;
            height: 180vh;
            width: 16.8%;
            
        }    
        
        .post{
            height: 5vh;
            background-color: #3E3E3E;
        }    
        
        .post p{
            color: white;
            padding-top: 4.5%;
            font-weight: bolder;
            display: flex;
            justify-content: center;
        }    
        
        
        .post-list{
           
            height: 60vh;
            background-color: white;
        }    
        
        .recente{
            height: 4vh;
            text-align: center;
            background-color: #cfcfcf;
        
        }     
           
        
        .recente p{
            padding-top: 2%;
            color: #3E3E3E;
        }
            
        
        .list{
            height: 50vh;
            
        }    
        
        .list a{
            text-decoration: none;
            color: #000000;
            margin-top: 5%;
            padding-top: 20px;
            margin-left: 10%;
            display: block;
            
        }
        .list a:hover{
            color: #4A75C5;
        }
        
        .saiba{
            
            height: 80vh;
            padding-top: 20%;
            
        }    
        
        .leia{
            color: #4A75C5;
            font-size: 20px;
            margin-left: 3px;
            
        
        }    
        
        .mais{
            margin-top: 10px;
            font-size: 19px;
            padding: 10px;
            
            text-align: justify;
        }
        .mais a{
            color: #4A75C5;
        }    
        
        
        .card-anuncio{
           
            height: 54vh;
            
        }    
        
        .card-anuncio a{
            text-decoration: none;
            text-align: center;
            
        }    
        
        .anuncio{
            background-color: #F8B64C;
            height: 10vh;
            margin-bottom: 40%;
        }   
        
        .anuncio a{
            color: #3E3E3E;
            position: absolute;
            padding: 11px 33px;
            font-weight: bold;
            font-size: 20px;
            
        }
        .anuncio1{
            background-color: #A14196;
            margin-top: 5%;
            height: 10vh;
        }    
        
        .anuncio1 a{
            color: white;
            position: absolute;
            padding: 25px 27px;
            
            font-weight: bold;
        }
        .anuncio2{
            background-color: #4A75C5;
            margin-top: 5%;
            height: 10vh;
        }    
        
        .anuncio2 a{
            color: white;
            position: absolute;
            
            
            font-weight: bold;
            
            padding: 18px 6px;
        }    
            
           
        
        .anuncio2 p{
            font-weight: normal;
            font-size: 12px;
        }
        .anuncio3{
            margin-top: 5%;
            background-color: #403E36;
            height: 10vh;
            
        }
        .anuncio3 a{
           
            color: #FFC33E;
            position: absolute;
            padding: 17px 22px;
            font-weight: bold;
        }    
        
           
        
        .anuncio3 p{
            font-weight: normal;
            font-size: small;
            color: #FFC33E;
           
        }
        .anuncio4{
            margin-top: 5%;
            height: 29vh;
            
        }   
        #whats-img{
            
            
            width: 100%;
            
        }
        
        
        
        
        
        
        article{
            display: none;
            width: 100%;
            margin: auto;
            height: 40vh;
            
        }   
        
        
        .artigos{
            
            margin: auto;
            height: 30vh;
          
            
        }    
        
         
        
        .clientes{
           
           
            text-align: center;
           
        }    
        
        .clientes p{
            font-size: 2em;
            height: 10vh;
            color: #3E3E3E;
        }
        
        .parceiros{
            
            height: 35vh;
        }
        .parceiros img{
            
            width: 100%;
            height: 10vh;
        }
        #bill{
            margin-top: 5%;
        }
        
        
        
                /*---------------------------------------------FOOTER*/
                footer{
           
            
         
                    height: 1vh;
                    justify-content: center;
                }
                .footer{
                    height: 1vh;
                    margin-left: 5%;
                   
                
                    width: 90%;
                    display: flex;
                    gap: 70px;
                }
                .footer ul{
                    list-style: none;
                   display: none;
                    width: 35%;
                    
                }
                .footer li{
                    display: none;
                    margin-top: 15%;
                }
                #formas{
                    display: none;
                margin-top: -15%;
                }
                
                .footer h3{
                    display: none;
                    font-weight: bolder;
                }
                #footer{
                    display: none;
                    padding-block: 1%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;
                }
                
                #footer-inf {
                    display: none;
                    font-size: 15px;
                    margin-top: 2%;
                    text-align: justify;
                }
                
                .entrega{
                    display: inline-block;
                    display: none;
                }
                .seguro{
                    display: none;
                    transform: translateY(20px);  
                }
                #footers{
                    display: none;
                    display: flex;
                    font-size: 14px;
                }
                
                #footer-inf-p{
                    display: none;
                    margin-top: 4%;
                }
                
                .footer-fim{
                    background-color: #E8E7E7;
                    font-size: 12px;
                    text-align: center;
                    padding-block: 6%;
                    
                } 
        
        
                    
                .whats{
                    display: none;
                    transform: translateX(-70px);
                    bottom: 5px;
                    right: 5px;
                    
                }
}
