
@media (max-width: 640px){
    
    *{
        padding: 0;
        margin: 0px;
        box-sizing: border-box;
    }

    body, html{
        
        background-color: #F9F9F9;
    
    }

    /*---------------------------------------------HEADER*/

    .header-topo{

        background-color: #3996D2;
        
        }
      .he-top{
        
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline: 2%;
        color: white;
      }
      #online{
        font-style: oblique;
        font-size: 8.5px;
     
        width: 100%;
      }
      
      #header-redes img{
        background-color: #31538F;
        padding: 20%;
       transform: translateX(-20px);
       border-radius: 5px;
       margin-top: 10%;
      }
      #horario-topo{
       
        
      }

    a {
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
      }
      

    
    .banner-t{
        display: none;
    }
            
    
/*---------------------------------------------MAIN*/

.quality{
    
  display: none;
}
#q1{
 
    width: 50%;
    height: 9vh;
}

.opcoes{
margin-top: 40%;
height: 104vh;
width: 100%;


}

.button{

    margin-left: 25%;
    width: 50%;
}
.escolha{
   
    display: block;
   
    
}
.grafica{
    
margin-block: 10%;
height: 30vh;
    width: 100%;
}



.estamparia{

    height: 30vh;
    width: 100%;
   
}

.estamparia button{
   
  
    width: 50%;
}

.serigrafia{
   
transform: translateY(260px);
    width: 90%;
    height: 30vh;
    margin: 0 auto;

}

.destaques{


height: 80vh;
}
.destaque-dentro{
    display: block;
    width: 100%;
    height: 50vh;

}
#dest{
    margin-block: 15%;
}



main{
    
    height: 250vh;
}
.nav-main{
    
    height: 120vh;
    
}
iframe{
    
   height: 210vh;
}
.main-servicos{
    margin-top: 200%;
    
}
.outros-servicos{
    
    width: 100%;
    height: 30vh;
}
#a1{

height: 30vh;
}
#a2{
    height: 30vh;
}
#a3{
    height: 30vh;
}
.banner-pix{
    margin-top: 50%;
    height: 8vh;
}
.banner-servico {
   
   height: 20vh;
   background-size: contain;
}

.opinioes-clientes{
 
 height: 170vh;
 
}
.clien{
    font-size: small;
    margin-block: 10%;
}
.quadro{
   width: 100%;
    height: 170vh;

}
.quadro-clientes{
   
    display: block;
    height: 157vh;
}
#quadro{
    width: 100%;
 
    height: 50vh;
    margin-bottom: 10%;
}
.pai{

width: 50%;
}
.nome{
   
    
}
.frase p{
 
}



.atenden{
    font-size: small;
}

.wh{
    margin-block: 10%;
}
.zapzap{
    width: 50%;
    background-color: darkgreen;
}



/*---------------------------------------------FOOTER*/

footer{
           
            
         
    height: 1vh;
    justify-content: center;
}
.footer{
    height: 1vh;
    margin-left: 5%;
   

    width: 90%;
    display: flex;
    gap: 70px;
}
.footer ul{
    list-style: none;
   display: none;
    width: 35%;
    
}
.footer li{
    display: none;
    margin-top: 15%;
}
#formas{
    display: none;
margin-top: -15%;
}

.footer h3{
    display: none;
    font-weight: bolder;
}
#footer{
    display: none;
    padding-block: 1%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

#footer-inf {
    display: none;
    font-size: 15px;
    margin-top: 2%;
    text-align: justify;
}

.entrega{
    display: inline-block;
    display: none;
}
.seguro{
    display: none;
    transform: translateY(20px);  
}
#footers{
    display: none;
    display: flex;
    font-size: 14px;
}

#footer-inf-p{
    display: none;
    margin-top: 4%;
}

.footer-fim{
    background-color: #B6B6B6;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-block: 2%;
}


    
.whats{
    display: none;
    transform: translateX(-70px);
    bottom: 5px;
    right: 5px;
    
}


}





