
@media (max-width: 640px){
    
    *{
        padding: 0;
        margin: 0px;
        box-sizing: border-box;
    }

    body, html{
        
        background-color: #F9F9F9;
    
    }

    /*---------------------------------------------HEADER*/

    .header-topo{
 
        background-color: #FF236C;
       
      }
      .he-top{
        
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline: 2%;
        color: white;
      }
      #online{
        font-style: oblique;
        font-size: 8.5px;
     
        width: 100%;
      }
      
      #header-redes img{
        background-color: #31538F;
        padding: 20%;
       transform: translateX(-20px);
       border-radius: 5px;
       margin-top: 10%;
      }
      #horario-topo{
       
        
      }

    a {
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
      }
      

    
    .banner-t{
        display: none;
    }
            
    
/*---------------------------------------------MAIN*/

.quality{
    
  display: none;
}
#q1{
 
    width: 50%;
    height: 9vh;
}

.opcoes{
margin-top: 40%;
height: 84vh;

}
.escolha{
   
    display: block;
    height: 84vh;
    
}
.grafica{
margin-bottom: 5%;
width: 100%;
}
button{
   
    width: 50%;
    margin-top: 35%;
  margin-left: 25%;
  
    
}
button a{
    
    padding-block: 5%;
    padding-inline: 25%;
}


.estamparia{
   
    width: 100%;
}

.estamparia button{
   
   margin-top: 35%;
    margin-left: 25%;
    width: 50%;
}
.estamparia button a{
    padding-block: 5%;
    padding-inline: 25%;
}

.destaques{


height: 80vh;
}
.destaque-dentro{
    display: block;
    width: 100%;
    height: 50vh;

}
#dest{
    margin-block: 15%;
}



main{
    
    height: 220vh;
}
.nav-main{
    
    height: 120vh;
    
}
iframe{
    
   
}

.banner-melhor{
    
    height: 20vh;
    background-repeat: no-repeat;
    background-size: contain;
}
.experiencia{
    
    height: 25vh;
}

.parceiros{
    
    height: 35vh;
}
.parceiros img{
    
    width: 100%;
    height: 10vh;
}
#bill{
    margin-top: 5%;
}


/*---------------------------------------------FOOTER*/

footer{
           
            
         
    height: 1vh;
    justify-content: center;
}
.footer{
    height: 1vh;
    margin-left: 5%;
   

    width: 90%;
    display: flex;
    gap: 70px;
}
.footer ul{
    list-style: none;
   display: none;
    width: 35%;
    
}
.footer li{
    display: none;
    margin-top: 15%;
}
#formas{
    display: none;
margin-top: -15%;
}

.footer h3{
    display: none;
    font-weight: bolder;
}
#footer{
    display: none;
    padding-block: 1%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

#footer-inf {
    display: none;
    font-size: 15px;
    margin-top: 2%;
    text-align: justify;
}

.entrega{
    display: inline-block;
    display: none;
}
.seguro{
    display: none;
    transform: translateY(20px);  
}
#footers{
    display: none;
    display: flex;
    font-size: 14px;
}

#footer-inf-p{
    display: none;
    margin-top: 4%;
}

.footer-fim{
    background-color: #B6B6B6;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-block: 2%;
}


    
.whats{
    display: none;
    transform: translateX(-70px);
    bottom: 5px;
    right: 5px;
    
}


}





